{{ range $_, $name := list "user" "onetruffle" -}}
{{   range $_, $host := list "gitlab" "github" "codeberg" -}}
Host {{ $host -}}-{{- $name }}
    User git
    HostName {{ $host -}}.com
    IdentityFile ~/.ssh/{{- $name }}

{{   end -}}
{{- end -}}
{{ range (list "user") -}}
Host aur-{{ . }}
    User git
    HostName aur.archlinux.org
    IdentityFile ~/.ssh/{{ . }}
{{ end -}}