[Container]
Image=docker.all-hands.dev/all-hands-ai/runtime:0.33-nikolaik
ContainerName=openhands-app
PublishPort=3000:8081
Volume=/var/run/docker.sock:/var/run/docker.sock
Volume=~/.openhands-state:/.openhands-state
AddHost=host.docker.internal:host-gateway
Environment=SANDBOX_RUNTIME_CONTAINER_IMAGE=docker.all-hands.dev/all-hands-ai/runtime:0.33-nikolaik
Environment=LOG_ALL_EVENTS=true

# [Service]
# Restart=always
