[Container]
Image=ghcr.io/open-webui/open-webui:ollama
ContainerName=open-webui
PublishPort=3000:8080
Volume=ollama:/root/.ollama
Volume=open-webui:/app/backend/data

# [Service]
# Restart=always

# [Install]
# WantedBy=default.target
